<!DOCTYPE html>
<html>
<head>
    <title>ToDo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <nav class="site-header">
      <% if user_signed_in? %>
      <a href="/tasks" class="site-title"><%= current_user.username %>さんのTask List</a>
      <ul>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </ul>
      <% else %>    
      
      <a href="/tasks" class="site-title">Task List</a>  
      <ul>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      </ul>
      <% end %>
      <ul>
          <li><a href="https://4door.netlify.app/#/"><i class="fa fa-sign-out "></i> Portfolio</a></li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
